name: Container Image Build

on:
  schedule:
    - cron: "0 0 1 * *" # Run at 00:00 on the first day of the month
  push:
    branches:
      - "*"
    tags:
      - "v*.*.*"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PACKAGE_NAME: ${{ github.repository_owner }}/${{ vars.IMAGE_NAME }}
  REGISTRY_DOCKER: docker.io
  IMAGE_NAME_DOCKER: ${{ vars.DOCKERHUB_REPO }}

jobs:
  build-base:
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_DOCKER }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get & Set Container Metadata
        id: meta-packages
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            ${{ env.REGISTRY_DOCKER }}/${{ env.IMAGE_NAME_DOCKER }}
          tags: |
            base

      - name: Build & Push
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: ./docker-base
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-packages.outputs.tags }}
          labels: ${{ steps.meta-packages.outputs.labels }}
          cache-from: type=registry,ref=${{ env.PACKAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.PACKAGE_NAME }}:buildcache,mode=max

  build-lsphp:
    needs: build-base
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    continue-on-error: ${{ matrix.php_version.deprecated || matrix.php_extensions.experimental }}
    strategy:
      max-parallel: 4
      matrix:
        php_version:
          - version: 8.3
            php_detail_version: 8.3.13
            lsphp_version: lsphp83
            php_tag_version: latest
            oci_version: 3.4.0
            pdo_oci_version: 1.1.0
            deprecated: false
          - version: 8.3
            php_detail_version: 8.3.13
            lsphp_version: lsphp83
            php_tag_version: php83
            oci_version: 3.4.0
            pdo_oci_version: 1.1.0
            deprecated: false
          - version: 8.2
            php_detail_version: 8.2.26
            lsphp_version: lsphp82
            php_tag_version: php82
            oci_version: 3.3.0
            pdo_oci_version: "1.0"
            deprecated: false
          - version: 8.1
            php_detail_version: 8.1.31
            lsphp_version: lsphp81
            php_tag_version: php81
            oci_version: 3.2.1
            pdo_oci_version: "1.0"
            deprecated: true
          - version: 8.0
            php_detail_version: 8.0.30
            lsphp_version: lsphp80
            php_tag_version: php80
            oci_version: 3.0.1
            pdo_oci_version: "1.0"
            deprecated: true
          - version: 7.4
            php_detail_version: 7.4.33
            lsphp_version: lsphp74
            php_tag_version: php74
            oci_version: 2.2.0
            pdo_oci_version: "1.0"
            deprecated: true
        php_extensions:
          - name: "base"
            experimental: false
          - name: "xdebug"
            experimental: false
          - name: "pcov"
            experimental: false
          - name: "oci"
            experimental: false
          - name: "oci-xdebug"
            experimental: false
          - name: "oci-pcov"
            experimental: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_DOCKER }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get & Set Container Metadata
        id: meta-packages
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            ${{ env.REGISTRY_DOCKER }}/${{ env.IMAGE_NAME_DOCKER }}
          tags: |
            ${{ matrix.php_version.php_tag_version }}-${{ matrix.php_extensions.name }}
            type=raw,value=latest,enable=${{ matrix.php_version.php_tag_version == 'latest' && matrix.php_extensions.name == 'base' }}

      - name: Build & Push
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: ./docker-lsphp
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-packages.outputs.tags }}
          labels: ${{ steps.meta-packages.outputs.labels }}
          target: ${{ matrix.php_extensions.name }}
          build-args: |
            BASEIMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:base
            LS_VERSION=${{ matrix.php_version.lsphp_version }}
            PHP_VERSION=${{ matrix.php_version.version }}
            PHP_DETAIL_VERSION=${{ matrix.php_version.php_detail_version }}
            OCI_VERSION=${{ matrix.php_version.oci_version }}
            PDO_OCI_VERSION=${{ matrix.php_version.pdo_oci_version }}
          cache-from: type=registry,ref=${{ env.PACKAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.PACKAGE_NAME }}:buildcache,mode=max
